specflow/SpecflowTests/obj/Debug/SpecflowTests.csproj.CoreCompileInputs.cache
specflow/.vs/SqlSandbox/v15/Server/sqlite3/storage.ide-shm
specflow/.vs/SqlSandbox/v15/Server/sqlite3/storage.ide-wal
specflow/SpecflowTests/obj/Debug/SpecflowTests.csproj.CoreCompileInputs.cache
specflow/.vs/SqlSandbox/v15/.suo
