@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Visit: <a href="http://www.rdagumampan.com ">http://www.rdagumampan.com </a><br />
    Twitter: rdagumampan@gmail.com
</address>

